<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jrx.data.hub.infrastructure.dao.MetaFunctionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="jrx.data.hub.infrastructure.model.MetaFunctionInfo">
        <id column="resource_id" property="resourceId" />
        <result column="code" property="code" />
        <result column="content_code" property="contentCode" />
        <result column="create_time" property="createTime" />
        <result column="example" property="example" />
        <result column="description" property="description" />
        <result column="name" property="name" />
        <result column="resource_state" property="resourceState" />
        <result column="update_person" property="updatePerson" />
        <result column="update_time" property="updateTime" />
        <result column="language" property="language" />
        <result column="function_type" property="functionType" />
        <result column="param_fields" property="paramFields" />
        <result column="return_value_type" property="returnValueType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        resource_id, code, content_code, create_time, example, description, name, resource_state, update_person, update_time, language, function_type, param_fields, return_value_type
    </sql>

</mapper>
