<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jrx.data.hub.infrastructure.dao.MetaObjectFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="jrx.data.hub.infrastructure.model.MetaObjectField">
        <id column="object_field_id" property="objectFieldId" />
        <result column="content_code" property="contentCode" />
        <result column="create_person" property="createPerson" />
        <result column="create_time" property="createTime" />
        <result column="update_person" property="updatePerson" />
        <result column="update_time" property="updateTime" />
        <result column="default_value" property="defaultValue" />
        <result column="description" property="description" />
        <result column="field_code" property="fieldCode" />
        <result column="field_format" property="fieldFormat" />
        <result column="field_length" property="fieldLength" />
        <result column="field_name" property="fieldName" />
        <result column="field_type" property="fieldType" />
        <result column="is_key" property="isKey" />
        <result column="object_type" property="objectType" />
        <result column="scale_length" property="scaleLength" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        object_field_id, content_code, create_person, create_time, update_person, update_time, default_value, description, field_code, field_format, field_length, field_name, field_type, is_key, object_type, scale_length
    </sql>

</mapper>
