<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jrx.data.hub.infrastructure.dao.MetaJobInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="jrx.data.hub.infrastructure.entity.MetaJobInfo">
        <id column="resource_id" property="resourceId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="content_code" property="contentCode" />
        <result column="create_time" property="createTime" />
        <result column="description" property="description" />
        <result column="job_type" property="jobType" />
        <result column="job_state" property="jobState" />
        <result column="update_person" property="updatePerson" />
        <result column="update_time" property="updateTime" />
        <result column="source_ids" property="sourceIds" />
        <result column="target_id" property="targetId" />
        <result column="zpl_catagre_id" property="zplCatagreId" />
        <result column="zpl_notebook_id" property="zplNotebookId" />
        <result column="zpl_job_id" property="zplJobId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        resource_id, name, code, content_code, create_time, description, job_type, job_state, update_person, update_time, source_ids, target_id, zpl_catagre_id, zpl_notebook_id
    </sql>

</mapper>
