<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:portal="http://www.tjhq.com">
<head>
    <script th:inline="javascript" type="text/javascript">
	    var _loginUser = [[${loginUser}]];
	    if(_loginUser==null){
	    	_loginUser={};
	    }
	    var _portalUI = [[${portalUI}]];
	    if(_portalUI==null){
	    	_portalUI={};
	    }
        var authorization =_loginUser.token||'';
        var userName =_loginUser.realname||'';
        var loginYear =_loginUser.year||'';
        var defaultPortal = _loginUser.defaultPortal;
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="vendors/extjs/themes/theme-triton/resources/theme-triton-all.css" />
    <link rel="stylesheet"
          href="vendors/extjs/ux/triton/resources/ux-all.css" />
    <link rel="stylesheet" href=styles/home.css />
    <link rel="stylesheet" href=styles/menu.css />
    <link rel="stylesheet" href=vendors/layui/css/layui.css />
    <link rel="icon" type="image/x-icon" href="images/default/logo.png" />
    <portal:resfiles type="css" />
    <script type="text/javascript" src="vendors/extjs/ext-all.js"></script>
    <script type="text/javascript" src="vendors/extjs/ux/ux.js"></script>
    <script type="text/javascript" src="vendors/layui/layui.all.js"></script>
    <script type="text/javascript" src="vendors/extjs/locale/locale-zh_CN.js"></script>
    <script type="text/javascript" src="vendors/base64/base64.min.js"></script>
    <script type="text/javascript" src="ptl/common/Console.js"></script>
    <script type="text/javascript" src="ptl/common/Overrides.js"></script>
    <script type="text/javascript" src="ptl/Application.js"></script>
    <script type="text/javascript" src="ptl/portlet/PortletBase.js"></script>
    <script type="text/javascript" src="vendors/jquery/js/jquery-1.11.0.js"></script>
    <portal:resfiles type="js" />
    <script type="text/javascript" src="ptl/App.js"></script>
</head>
<body>

<div class="main"></div>

</body>
</html>
<script>
	//记录所有加载的菜单，备用
	window.allMenus=new Array();
    window.onload=function () {
        $('.header').on('mouseenter',function(){
            $('.menubox').css('display','none');
        });
        var tokenid = authorization; //匹配目标参数
        $.ajax({
            type: "GET",
            url: "menu/loadmenu/"+tokenid,
            data: {tokenid:tokenid},
            dataType: "json",
            success: function(data){
                var menuList=data;
                window.allMenus=menuList;
                var childrenHtml="";
                for(var i  in menuList){
                    var children=menuList[i].children;
                    childrenHtml+="<div class=\"menubox\" onmouseleave=\"Shide()\"><input type=\"text\"  data-guid=\""+menuList[i].id+"\" onkeyup='key("+i+")'   class=\"seach\" placeholder=\"搜索\"/><div class=\"menucon\">";
                    for(var j in children){
                        var menu=children[j];

                        childrenHtml+="<div class=\"twomenu\">";
                        if(menu.title!=undefined && "undefined"!=menu.title){
                            if(menu.href==''|| menu.href=='#'){
                                childrenHtml+=" <a class='twoa'  onclick=\"toUrl('"+menu.id+"','"+menu.title+"','"+menu.href+"')\"  data-url=\""+menu.href+"\"  target='_blank' title=\""+menu.title+"\">"+menu.title+"</a>";
                            }else {
                                childrenHtml+=" <a class='twoa ahover'  onclick=\"toUrl('"+menu.id+"','"+menu.title+"','"+menu.href+"')\"  data-url=\""+menu.href+"\"  target='_blank' title=\""+menu.title+"\">"+menu.title+"</a>";
                            }

                        }

                        var three=menu.children;
                        if(three){
                            for(var t in three){
                                if(three[t].title!=undefined && "undefined"!=three[t].title){
                                var four=three[t].children;
                                if(four){
                                    childrenHtml+="<div class=\"threemenubox close \" onclick=\"showfour(this)\"><a data-url=\""+three[t].href+"\" title=\""+three[t].title+"\" >"+three[t].title+"</a><i></i>";
                                    for(var f  in four){
                                        if(four[f].title!=undefined && "undefined"!=four[f].title){
                                            childrenHtml+=" <li><a onclick=\"toUrl('"+four[f].id+"','"+four[f].title+"','"+four[f].href+"')\"  data-url=\""+four[f].href+"\"  target='_blank' title=\""+four[f].title+"\">"+four[f].title+"</a></li>";
                                        }
                                    }
                                }else{
                                    childrenHtml+="<div class=\"threemenu \"><a onclick=\"toUrl('"+three[t].id+"','"+three[t].title+"','"+three[t].href+"')\"  data-url=\""+three[t].href+"\" target='_blank' title=\""+three[t].title+"\">"+three[t].title+"</a><i></i>";
                                }
                                childrenHtml+="</div>";
                                }
                            }
                        }

                        childrenHtml+="</div>";
                    }
                    childrenHtml+="</div>";
                    childrenHtml+="</div>";
                }
                $('.main').html(childrenHtml);

            }
        });
        if($('.twoa').attr('data-url')==true){
            console.log(1);
            $(this).css('cursor','pointer')
        }
    }



    function key(index){
        var guid= $('.seach').eq(index).attr("data-guid");
        var title= $.trim($('.seach').eq(index).val());

        //遍历二级菜单
        var firstFlag=false;
        $('.menubox').eq(index).find('.menucon :hidden').each(function(){
            $(this).show();
        });
        if(title!="") {
            $('.menubox').eq(index).find('.menucon').each(function () {
                $(this).find(" .twomenu").each(function () {
                    var vn = $(this).find('a').html();
                    if (vn.indexOf(title) != -1) {
                        var size = $(this).find(".threemenu").size();
                        var url = $(this).find('a').attr("data-url");
                        if (size != "0") {
                            $(this).show();
                        } else if (size == "0" && url != "" && url != "null" && url != "#") {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    } else {
                        var twoflag = false;
                        $(this).find(".threemenubox").each(function () {
                            var vn = $(this).find("a").html();
                            if (vn.indexOf(title) != -1) {
                                $(this).parent().show();
                                twoflag = true;
                            } else {
                                var threeflag = false;
                                $(this).find('li').each(function () {
                                    var vn = $(this).find("a").html();
                                    if (vn.indexOf(title) != -1) {
                                        $(this).show();
                                        threeflag = true;
                                        twoflag = true;
                                    } else {
                                        $(this).hide();
                                    }
                                });
                                if (threeflag) {
                                    $(this).toggleClass('close');
                                    $(this).find('i').toggleClass('open');
                                    $(this).show();
                                    $(this).parent().show();
                                } else {
                                    $(this).hide();
                                    $(this).parent().hide();
                                }
                            }
                        });
                        $(this).find(".threemenu").each(function () {
                            var vn = $(this).find("a").html();
                            if (vn.indexOf(title) != -1) {
                                $(this).parent().show();
                                twoflag = true;
                            } else {
                                var threeflag = false;
                                $(this).find('li').each(function () {
                                    var vn = $(this).find("a").html();
                                    if (vn.indexOf(title) != -1) {
                                        $(this).show();
                                        threeflag = true;
                                        twoflag = true;
                                    } else {
                                        $(this).hide();
                                    }
                                });
                                if (threeflag) {
                                    $(this).show();
                                    $(this).parent().show();
                                } else {
                                    $(this).hide();
                                    $(this).parent().hide();
                                }
                            }
                        });
                        if (!twoflag) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    }
                });

            });
        }
    }
    /*控制菜单窗口*/

    function show(index){
        $('.menubox').css('display','none');
        $('.menubox').eq(index).css('display','block')
    }
    function Shide(){
        $('.menubox').css('display','none');
    }
    $('.leftmenu li').on('mouseenter',function(){
        var num=$(this).index();
        $('.menubox').css('display','none');
        $('.menubox').eq(num).css('display','block')
    })
    $('.menubox').on('mouseleave',function(){
        $('.menubox').css('display','none');
    })


    function toUrl(id,title,url) {
        if(url!=""&&url!="#"){
        	url = Application.appendToken(url);
        	var theme=_portalUI['portal.ui.theme']||'';
        	url+='&menuId='+id+'&menuName='+title+'&theme='+theme;
        	
        	if(title.indexOf('大屏')>=0){
        		window.open(url);
        		Application.logOpenMenu(id);
        		return;
        	}
        	if(_portalUI['portal.ui.menuOpenType']==='page'){
        		var url=Base64.encode(url,true);
        		var allTitle=getMenuTitle(id);
        		window.open('page?url='+url+'&title='+allTitle);
        	}else{
            	window.open(url);
        	}
        	//异步记录用户打开菜单日志
        	Application.logOpenMenu(id);
        }
    }
    
    //获取各级菜单
    window.flatmenus=null;
    
    function getMenuTitle(id){
    	if(!window.flatmenus){
   			window.flatmenus=menuFlat();
   		}
    	var titles=new Array();
    	for(var index in window.flatmenus){
    		var menu=window.flatmenus[index];
    		if(menu.id===id){
    			titles.push(menu.title);
    			while(menu.parent){
    				titles.push(menu.parent.title);
    				menu=menu.parent;
    			}
    		}
    	}
    	titles.reverse();
    	return titles.join('>');
    }
    
    /*把菜单重构成list集合，便于使用*/
    function menuFlat(){
        var flatMenu=function(parent,list){
        	list.push(parent);
        	if(parent.children){
        		for(var index in parent.children){
            		var child=parent.children[index];
            		child.parent=parent;
            		flatMenu(child,list);
            	}
        	}
        };
    	var list=new Array();
    	for(var index in window.allMenus){
    		var menu=window.allMenus[index];
    		flatMenu(menu,list);
    	}
    	return list;
    }

    
    /*展开四级菜单*/
    function showfour(index){
        var tmp=index;
        $(tmp).toggleClass('close');
        $(tmp).find('i').toggleClass('open');
    }
</script>